/*
HEY!
You don't need .span1, .span2 and all
that nonsense. These are only here for
the Karma.gs start page. Ugly right?
====================================== */
.span1 {
  margin: 5px 0;
  text-align: center;
  background-color: complementColorBackground;
  border-radius: 3px;
  color: baseColor;
}
.span2 {
  margin: 5px 0;
  text-align: center;
  background-color: complementColorBackground;
  border-radius: 3px;
  color: baseColor;
}
.span3 {
  margin: 5px 0;
  text-align: center;
  background-color: complementColorBackground;
  border-radius: 3px;
  color: baseColor;
}
.span4 {
  margin: 5px 0;
  text-align: center;
  background-color: complementColorBackground;
  border-radius: 3px;
  color: baseColor;
}
.span5 {
  margin: 5px 0;
  text-align: center;
  background-color: complementColorBackground;
  border-radius: 3px;
  color: baseColor;
}
.span6 {
  margin: 5px 0;
  text-align: center;
  background-color: complementColorBackground;
  border-radius: 3px;
  color: baseColor;
}
