@import 'reset'
@import 'utilities'
@import 'defaults'
@import 'layouting'
@import 'typography'

html
body
  height 100%
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

section
  display block
  position relative
  height 100%

  &.short-description
    background-color #00A894

    h1
      float left
      color white
      width 20em
      margin 3em