/**
 * Baby
 * Primary used by mobile devices.
 * Holding true to mobile-first design, these styles
 * should be the first to be configured.
 */
#container
	padding (_goldilocks_padding*2) _goldilocks_padding
	max-width _goldilocks
	margin auto
