/* ======================================
   Baby Styles
   Primarily used by mobile devices
   These styles should be configured first
   ====================================== */
#container
	padding (_goldilocks_padding*2) _goldilocks_padding
	max-width _goldilocks
	margin auto