/* ======================================
   Daddy Styles
   Primarily used by desktop devices
   These styles should be configured AFTER baby styles
   ====================================== */
@media daddy
	#container
		padding (_goldilocks_padding*2)em
		margin 0 auto
		max-width (_goldilocks*2)em
		min-height (lineHeight*12)

//@media daddyOnly
