/*
This is the CORE LAYOUT STUFF.

Its *never* going to change, and is viewport
independent.

If something here needs to be adjusted for
different viewports, please use a baby/mummy/daddy
instead.
====================================== */

/*
Scroll bar settings
====================================== */
html
	overflow-y scroll
	&
	body
		overflow-x hidden

/*
Generic elements
====================================== */
body
	background-color backgroundColor

h1
h2
	margin-bottom line_breaks(1)

h3
h4
	margin-bottom line_breaks(.5)

hgroup
	margin-bottom line_breaks(2)
	h1, h2, h3, h4
		margin-bottom 0

p,
ul,
ol,
dl,
blockquote
	margin-bottom line_breaks(1)
	max-width _goldilocks

a,
a:visited
	outline none

a:hover
	outline none

a:active,
a:focus
	outline none

header
section
article
	margin-bottom line_breaks(1)

