/* ======================================
   Global styles
   Core styles go here.
   E.g: typography, buttons, form styles
   They SHOULD not involve layouting
   Individual components and modules must
   Go into separate files. See below for
   Details.
   ====================================== */

/* Page scrollbar settings
   ====================================== */
html
	overflow-y scroll
	&
	body
		overflow-x hidden

/* Very common elements
   ====================================== */
body
	background-color offWhite

h1,
h2,
h3,
h4
	margin-bottom (lineHeight/2)em

	hgroup &
		margin-bottom 0
		margin-left .1em
		&:first-child
			margin-left 0

hgroup
	margin-bottom (lineHeight/2)em

p,
ul,
ol,
dl,
blockquote
	margin-bottom lineHeight
	max-width _goldilocks

a,
a:visited
	outline none

a:hover
	outline none

a:active,
a:focus
	outline none

/* General semantic tags
   ====================================== */
header
section
article
	margin-bottom lineHeight

/* General layout
   ====================================== */
.header
	row()

.main-header
	columns(3, true)

.main-nav
	columns(3, true)
	pull-right()


/*	======================================
		Global file imports
		These files should make use of @media daddy
		and @media mummy
		The default style should be for the
		'baby' size.
		====================================== */

/* Components
   Non-app specific
   Typically buttons, horizontal rules, tooltips etc.
   ====================================== */
// fonts
@import 'fonts.styl'
// input styles
@import '../components/inputs.styl'
// import the button styles
@import '../components/buttons.styl'
// import form styles
@import '../components/forms.styl'
// lists
@import '../components/lists.styl'
// divisors
@import '../components/divisors.styl'
// tooltip styles
@import '../components/tooltips.styl'
// alerts
@import '../components/alerts.styl'
// modals
@import '../components/modals.styl'
// loader
@import '../components/loader.styl'
// pagination
@import '../components/pagination.styl'

/* MODULES
   Modules tend to be app-specific
   They are blocks of content/design that can be modulized
   ====================================== */
// Put them in ../modules/ and import them here
