/**
 * Core _layouting_ styles go here.
 * Typography, headings, background etc.
 * These styles should be implemented on ALL device sizes.
 *
 * Individual components and modules must go into SEPARATE files.
 */

/*
Scroll bar settings
====================================== */
html
	overflow-y scroll
	&
	body
		overflow-x hidden

/*
Generic elements
====================================== */
body
	background-color offWhite

h1,
h2,
h3,
h4
	margin-bottom (lineHeight/2)em

	hgroup &
		margin-bottom 0
		margin-left .1em
		&:first-child
			margin-left 0

hgroup
	margin-bottom (lineHeight/2)em

p,
ul,
ol,
dl,
blockquote
	margin-bottom lineHeight
	max-width _goldilocks

a,
a:visited
	outline none

a:hover
	outline none

a:active,
a:focus
	outline none

header
	margin-bottom lineHeight
section
	margin-bottom lineHeight


/*
Import rules
====================================== */
@import 'fonts.styl'

@import '../components/inputs.styl'
@import '../components/buttons.styl'
@import '../components/forms.styl'

@import '../components/lists.styl'
@import '../components/divisors.styl'
@import '../components/icons.styl'
@import '../components/tooltips.styl'
@import '../components/alerts.styl'
@import '../components/modals.styl'
@import '../components/loader.styl'
@import '../components/pagination.styl'
@import '../components/messages.styl'

/*
MODULES
Modules tend to be app-specific
They are blocks of content/design that can be modulized
====================================== */
/* Import your modules here */
