/* ======================================
   Mummy styles
   Primarily used by tablet sized devices
   These styles extend daddy styles and should be configured LAST
   ====================================== */
@media mummy
	#container
		width _goldilocks
