/*
Mummy - styles for tablets and stuff.

Take a look at baby.styl and daddy.styl
if you haven't already.

Mummy styles should be configured AFTER
Baby styles and AFTER Daddy styles.

Mummy is the one who patches the relationship
between Daddy and Baby up. Styles here should
be pretty hacky, fixing thing.

If you decide to configure Mummy right after
Baby, YOUR DOING IT WRONG :P
====================================== */

@media mummy
	#container
		width _goldilocks
