/*
When using [ruby-stylus](https://github.com/lucasmazza/ruby-stylus) we need to
specify the full path to the resource relative to `stylesheets/`
*/

@import "karma/layouting"
@import "karma/typography"
