/*
Daddy - styles for the big bad viewports.

Take a look at baby.styl if you haven't
yet.

This file should be configured AFTER baby
and BEFORE mummy.
====================================== */
@media daddy
	#wrapper
		min-height (lineHeight*12)

	.container
		padding 0 (_goldilocks_padding*2)em 0 (_goldilocks_padding*2)em
		margin 0 auto
		max-width (_goldilocks*2)em

/*
Daddy styles are ALSO applied to mummy
screen sizes.

Un-comment the line below if you want
to write styles that ONLY apply to Daddy.
====================================== */
// @media daddyOnly
