.divisor
	@extends .inversion
	position relative
	margin-top line_breaks(1)
	margin-bottom @margin-top
	padding-top line_breaks(1)
	padding-bottom @padding-top

	&.strong
		@extends .inversion.strong

