.inversion
	background-color complementColorBackground
	color pureWhite
	text-shadow 0 0 1px baseColorDark

	h1, h2, h3, h4, h5, h6
		color pureWhite
		text-shadow 0 0 2px baseColorDark

	&.strong
		background-color baseColorBackground

