_goldilocks ?= 30em
_goldilocks_padding ?= 0.809em
_grid_columns ?= 6
_gutter_width ?= 1.2em
_grid_expand_min_proportion ?= .2

_base_size ?= 125%

baby ?= s("screen and (max-width: %s)", ((_goldilocks + 4*_goldilocks_padding) * _base_size/100))
mummy ?= s("screen and (min-width: %s) and (max-width: %s)", ((_goldilocks + 4*_goldilocks_padding) * _base_size/100), ((_goldilocks*2 + 4*_goldilocks_padding) * _base_size/100))
daddy ?= s("screen and (min-width: %s)", ((_goldilocks + 4*_goldilocks_padding) * _base_size/100))
daddyOnly ?= s("screen and (min-width: %s)", ((_goldilocks*2 + 4*_goldilocks_padding) * _base_size/100))

_line_height ?= 1.6
