/*
All your generic type stuff here.
====================================== */


body
	font-family paragraphFontFamily
	font-size baseSize
	font-weight lightWeight
	line-height unit(lineHeight, '')
	color offBlack

	text-shadow 0 0 1px rgba(backgroundColor, .8)

	/*
	I prefer antialiased font-smoothing.
	(btw font-smoothing is a mixin which
	generates vendor prefixes)
	Alternatively you could go for 'subpixel-antialiased'.
	Since font-smoothing is only available for webkit,
	the fallback (text-shadowing) is specified above.
	*/
	@media webkit
		text-shadow none
		font-smoothing antialiased

h1, h2, h3
	font-weight boldWeight

h1, h2, h3, h4
	font-family headingFontFamily
	color baseColor


/*
The following generates header sizes using the typographic scale.
Cool right?
 */
for n in 1..3
	h{n}
		scale_type(6 - n)

p,
ul,
ol,
dl,
blockquote
	color baseColorDark
	scale_type(1)

a, a:visited
	color primary
	text-decoration underline

a:hover
	text-decoration none

strong, b
	font-weight boldWeight

em, i
	font-style italic

/*
According to an article by iA, fonts seem thinner on retina
displays, lets fix that.
 */
@media retina
	body
		font-weight bookWeight

	h1, h2, h3, h4
		font-weight extraBoldWeight
