/*
# Karma.gs Front Controller ;)

## Ruby Asset Pipeline Users:
Rename this file to application.css.erb.styl

## Quickstart:
1. Make configuration changes in config.styl
2. Comment out components you don't need.
3. Your ready to go!

====================================== */

/* All your grid configuration goes here */
@import 'config'

/* Karma.gs Dependencies */
@import 'dependencies/functions'
@import 'dependencies/grid'
@import 'dependencies/mixins'
@import 'dependencies/reset'
@import 'dependencies/helpers'

/* Extendible Classes */
@import 'classes/inversion'
@import 'classes/divisor'
@import 'classes/utilities'

/* Severable Components */
@import 'components/inputs'
@import 'components/buttons'
@import 'components/forms'
@import 'components/lists'
@import 'components/tooltips'
@import 'components/messages'
@import 'components/pagination'

/* Page-specific Modules */
/* e.g */
/* @import 'modules/splash' */
/* @import 'modules/blog-post' */

/* App-specific layouting */
@import 'layout/global'
@import 'layout/baby'
@import 'layout/daddy'
@import 'layout/mummy'
@import 'layout/highres'
@import 'layout/print'
@import 'layout/fonts'

/* Comment this in production */
@import 'test'
