/*
Small utilities.
These are classes, they can be applied, but
it's much nicer to extend them.
e.g if you want to apply clearfix to an
element, just add `@extends .clearfix` to
its style.
====================================== */

.clearfix
	clearfix()

.hide
.hidden
	hidden()

.invisible
	invisible()

.visuallyhidden
	visuallyhidden()

