/*
Color
Most components work with a 'base color'
and 'complement color'.
====================================== */
_color_dark(color)
	darken(color, 60%)

_color_light(color)
	lighten(color, 60%)

_color_background(color)
	lighten(desaturate(color, 70%), 90%)

/*
Rails
====================================== */
image_path(basename)
	("<%= image_path('" + basename + "') %>" "../images/" + basename)

