/* ======================================
   Using Font Awesome Icons
   Font Awesome > Glyphicons
   ====================================== */
@import '../third-party/font-awesome'
@import '../third-party/font-awesome-ie7'

/*	Karma icon color
	 	====================================== */
.icon-karma
	color complementColor

/*	Colors
		====================================== */
.icon-white
	color pureWhite

.icon-offWhite
	color offWhite

.icon-black
	color pureBlack

.icon-offBlack
	color offBlack

.icon-red
	color red

.icon-blue
	color blue

.icon-green
	color green

.icon-yellow
	color yellow

.icon-gray
	color gray

.icon-grayLight
	color grayLight

.icon-grayDark
	color grayDark
