.message
	@extends .clearfix
	position relative
	padding .5em .5em lineHeight .5em
	margin-bottom lineHeight
	
	&:nth-of-type(odd)
		background-color complementColorBackground
	
	date
		position absolute
		bottom .5em
		right .5em
		
		font-size .8em
		color grayLight