.backdrop
	content ""
	display block
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background rgba(pureBlack, .2)
	z-index zindexModal
	
.modal
	modalHeaderHeight = 4.5em
	modalFooterHeight = 4em
	display block
	position fixed
	background offWhite
	box-shadow 0 -modalHeaderHeight (_goldilocks_padding*3) 5px rgba(pureBlack, .8)
	z-index zindexModal
	
	top (_goldilocks_padding + modalHeaderHeight)
	left _goldilocks_padding
	bottom (_goldilocks_padding + modalFooterHeight)
	right _goldilocks_padding
	
	// Responsiveness
	@media daddy
		top (_goldilocks_padding + modalHeaderHeight)
		bottom (_goldilocks_padding + modalFooterHeight)
		left (_goldilocks / 4)
		right (_goldilocks / 4)
	@media mummy
		left _goldilocks_padding*4
		right _goldilocks_padding*4
		
	.modal-header
		position absolute
		background-color offWhite
		bottom 100%
		left 0
		right 0
		height (modalHeaderHeight - lineHeight)em
		margin 0
		padding (lineHeight / 2)em
	
	.modal-body
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin 0
		padding (lineHeight/2)em
		overflow-y scroll
	
	.modal-footer
		@extends .form-actions
		position absolute
		top 100%
		left 0
		right 0
		height (modalFooterHeight - lineHeight)em
		margin 0
		padding (lineHeight / 2)em
		background-color baseColorBackground
	
	.close
		width 1.5em
		height 1.5em
		margin 0
		padding 0
		text-align center
		
		font-size .9em
		line-height 1.5em
		background-color rgba(pureBlack, .8)
		color pureWhite
		border-radius 50%
		cursor pointer
		
		position absolute
		top -(modalHeaderHeight)em
		right .5em
	
