_goldilocks                 = 30em unless _goldilocks is defined
_goldilocks_padding         = 0.809em unless _goldilocks_padding is defined
_grid_columns               = 6 unless _grid_columns is defined
_gutter_width               = 1.2em  unless _gutter_width is defined
_grid_expand_min_proportion = .2  unless _grid_expand_min_proportion is defined

baseSize = 125% unless baseSize is defined

baby           = s("screen and (max-width: %s)", ((_goldilocks + 4*_goldilocks_padding) * baseSize/100)) unless baby is defined
mummy          = s("screen and (min-width: %s) and (max-width: %s)", ((_goldilocks + 4*_goldilocks_padding) * baseSize/100), ((_goldilocks*2 + 4*_goldilocks_padding) * baseSize/100)) unless mummy is defined
daddy          = s("screen and (min-width: %s)", ((_goldilocks + 4*_goldilocks_padding) * baseSize/100)) unless daddy is defined
daddyOnly      = s("screen and (min-width: %s)", ((_goldilocks*2 + 4*_goldilocks_padding) * baseSize/100)) unless daddyOnly is defined
retina         = "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)" unless retina is defined
webkit         = "screen and(-webkit-min-device-pixel-ratio:0)" unless webkit is defined
ipad_portrait  = "all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)" unless ipad_portrait is defined
ipad_landscape = "all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape)" unless ipad_landscape is defined

_sequence_fibonacci   = 0.6154 0.6154 0.6154 0.6154 1 1.6154 2.6154 3.6154 3.6154 3.6154 unless _sequence_fibonacci is defined
_sequence_traditional = 0.666 0.75 0.8333 0.9167 1 1.1667 1.333 1.5 1.75 2 3 4 5 6 unless _sequence_traditional is defined
_sequence_lecobusier  = 0.6154 0.6154 0.6154 0.8077 1 1.3077 1.6154 2.1154 2.615 3.4231 unless _sequence_lecobusier is defined
_sequence_center      = 4 unless _sequence_center is defined

lineHeight                   = 1.6em /* Specify this in em's */ unless lineHeight is defined
typographicScale             = _sequence_traditional unless typographicScale is defined
