_goldilocks ?= 30em
_goldilocks_padding ?= 0.809em
_grid_columns ?= 6
_gutter_width ?= 1.2em
_grid_expand_min_proportion ?= .2 

_base_size ?= 125%

baby ?= s("screen and (max-width: %s)", (_goldilocks + 4*_goldilocks_padding))
mummy ?= s("screen and (min-width: %s) and (max-width: %s)", (_goldilocks + 4*_goldilocks_padding), (_goldilocks*2 + 4*_goldilocks_padding))
daddy ?= s("screen and (min-width: %s)", (_goldilocks + 4*_goldilocks_padding))
daddyOnly ?= s("screen and (min-width: %s)", (_goldilocks*2 + 4*_goldilocks_padding))
retina ?= "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)"
webkit ?= "screen and(-webkit-min-device-pixel-ratio:0)"
ipad_portrait ?= "all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)"
ipad_landscape ?= "all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape)"

_sequence_fibonacci ?= 0.6154 0.6154 0.6154 0.6154 1 1.6154 2.6154 3.6154 3.6154 3.6154
_sequence_traditional ?= 0.666 0.75 0.8333 0.9167 1 1.1667 1.333 1.5 1.75 2 3 4 5 6
_sequence_lecobusier ?= 0.6154 0.6154 0.6154 0.8077 1 1.3077 1.6154 2.1154 2.615 3.4231
_sequence_center ?= 4

_line_height ?= 1.6em /* Specify this in em's */
_typographic_scale ?= _sequence_traditional
