.messages
	scale_type(1)
	text-align center
	background-color pureWhite
	padding .3em

	> div
		padding .4em

	.notice
		background-color _color_background(primary)
		color _color_dark(primary)

	.success
		background-color _color_background(success)
		color _color_dark(success)

	.warning
		background-color _color_background(warning)
		color _color_dark(warning)

	.error
		background-color _color_background(error)
		color _color_dark(error)

