/**
 * All configurations should be kept in this file.
 */

/*
Grid stuff
====================================== */
_goldilocks                 = 30em
_goldilocks_padding         = 0.809em
_grid_columns               = 6
_gutter_width               = 1.2em /* the minimum proportion of full size for a column to width:100% in a small viewport */
_grid_expand_min_proportion = .6
/* Media queries */
baby				= s("screen and (max-width: %s)", (_goldilocks + 4*_goldilocks_padding))
mummy				= s("screen and (min-width: %s) and (max-width: %s)", (_goldilocks + 4*_goldilocks_padding), (_goldilocks*2 + 4*_goldilocks_padding))
daddy				= s("screen and (min-width: %s)", (_goldilocks + 4*_goldilocks_padding))
daddyOnly		= s("screen and (min-width: %s)", (_goldilocks*2 + 4*_goldilocks_padding))
retina			= "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)"

/*
Font
====================================== */
lineHeight          = _goldilocks_padding * 2

titleFontFamily     = "Franklin Gothic Medium", Futura, "Century Gothic", AppleGothic, sans-serif
headingFontFamily   = Helvetica, Arial, sans-serif
paragraphFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
inputFontFamily     = "Helvetica Neue", Helvetica, Arial, sans-serif
monoFontFamily      = monospace

thinWeight          = 100
normalWeight        = 300
normalWeightRetina  = 400
boldWeight          = bold
heavyWeight         = 900

/*
Color
Most components work with a 'base color'
and 'complement color'.
====================================== */
_color_dark(color)
	darken(color, 60%)
_color_light(color)
	lighten(color, 60%)
_color_background(color)
	lighten(desaturate(color, 70%), 90%)

/* Thematic colors */
baseColor                 = #58838C
baseColorDark             = _color_dark(baseColor)
baseColorLight            = _color_light(baseColor)
baseColorBackground       = _color_background(baseColor)

complementColor           = spin(baseColor, 45deg)
complementColorDark       = _color_dark(complementColor)
complementColorLight      = _color_light(complementColor)
complementColorBackground = _color_background(complementColor)

/* Primary colors */
blue				= #17649A
red					= #CD1231
green				= #61AE24
yellow			= #F0D423

/* Descriptive colors */
primary				= baseColor
error					= red
warning				= yellow
success				= green

/* Blacks and whites */
pureBlack			= #000
offBlack			= hsla(hue(baseColor), 10%, 25%, 1)
offWhite			= hsla(hue(baseColor), 0%, 98%, 1)
pureWhite			= #fff

/* Shades of gray */
grayDark			= lighten(offBlack, 15%)
gray					= lighten(grayDark, 15%)
grayLight			= lighten(gray, 15%)

/*
Z-index settings
It's recommended you keep your z-index
configurations here. Use categorizing names
for easier management.
====================================== */
zindexTooltip		= 1000
zindexToolbar		= 1100
zindexModal			= 1200
