/*
KEEP ALL YOUR CONFIGURATION HERE.
====================================== */

/*
Infrastructure
====================================== */
is_rails = true
generate_retina_image_alternatives = true

/*
Grid

_golidlocks : The optimal width text
							should be for reading.
====================================== */
_goldilocks                 = 30em
_goldilocks_padding         = 0.809em
_grid_columns               = 6
_gutter_width               = 1.2em /* the minimum proportion of full size for a column to width:100% in a small viewport */
_grid_expand_min_proportion = 0

/*
Media Queries

You probaby don't need to change these.
====================================== */
baby           = s("screen and (max-width: %s)", (_goldilocks + 4*_goldilocks_padding))
mummy          = s("screen and (min-width: %s) and (max-width: %s)", (_goldilocks + 4*_goldilocks_padding), (_goldilocks*2 + 4*_goldilocks_padding))
daddy          = s("screen and (min-width: %s)", (_goldilocks + 4*_goldilocks_padding))
daddyOnly      = s("screen and (min-width: %s)", (_goldilocks*2 + 4*_goldilocks_padding))
retina         = "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)"
webkit         = "screen and(-webkit-min-device-pixel-ratio:0)"
ipad_portrait  = "all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)"
ipad_landscape = "all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape)"

/*
Typographic scales

The default is pretty good.

Your welcome to create your own. For
info, see: http://lamb.cc/typograph/

sequence_center : The center of the
									sequence, used for
									paragraph bodies.
====================================== */
fibonacci_sequence   = 0.6154 0.6154 0.6154 0.6154 1 1.6154 2.6154 3.6154 3.6154 3.6154
traditional_sequence = 0.666 0.75 0.8333 0.9167 1 1.1667 1.333 1.5 1.75 2
lecobusier_sequence  = 0.6154 0.6154 0.6154 0.8077 1 1.3077 1.6154 2.1154 2.615 3.4231
sequence_center      = 4

/*
Type
====================================== */
baseSize            = 100%
lineHeight          = 1.6em /* Specify this in em's */
typographicScale    = traditional_sequence

titleFontFamily     = Futura, "Century Gothic", sans-serif
headingFontFamily   = calibri, candara, serif
paragraphFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
inputFontFamily     = "Helvetica Neue", Helvetica, Arial, sans-serif
monoFontFamily      = monospace

/*
Weights

These weights use the same names that
Typekit uses.
====================================== */
thinWeight          = 100
lightWeight         = 300
bookWeight          = 400
mediumWeight        = 500
semiBoldWeight      = 600
boldWeight          = 700
extraBoldWeight     = 800
blackWeight         = 900

/*
Colors

This grid system assumes a complementary
colors scheme as the foundation.

If you are going for a mono-tone scheme,
you should set both base and complement
colors identical (and don't simply remove)
the complement section, it is referenced
in a few components.

If you want a more diverse color scheme
feel free to add more variables e.g tertiaryColor,
tertiaryColorDark...
====================================== */
backgroundColor						= #ffffff

/* Thematic colors */
baseColor                 = #96B67C
baseColorDark             = #85A969
baseColorLight            = #A7D487
baseColorBackground       = #94BA2E
complementColor           = #fff
complementColorDark       = #F2F2F2
complementColorLight      = #fff
complementColorBackground = #DBEBCE

/* Primary colors */
blue                      = #17649A
red                       = #CD1231
green                     = #61AE24
yellow                    = #F0D423

/* Descriptive colors */
primary                   = baseColor
error                     = red
warning                   = yellow
success                   = green

/* Blacks and whites */
pureBlack                 = #000
offBlack                  = hsla(hue(baseColor), 10%, 25%, 1)
offWhite                  = hsla(hue(baseColor), 0%, 98%, 1)
pureWhite                 = #fff

/* Shades of Gray ;) */
grayDark                  = #616161
gray                      = #DADADA
grayLight                 = #F2F2F2

/*
Z-index settings

Its not required, but here's a good read
if you don't know about stacking context's:
http://philipwalton.com/articles/what-no-one-told-you-about-z-index/
====================================== */
zindexTooltip		= 1000
zindexToolbar		= 1100
zindexModal			= 1200
