/*
HEY!
You don't need .span1, .span2 and all
that nonsense. These are only here for
the Karma.gs start page. Ugly right?
====================================== */
.row
	row()

for num in 1..6
	.span{num}
		margin 5px 0
		text-align center
		background-color complementColorBackground
		border-radius 3px
		color baseColor

		columns(num)
